
.payment-container{
  display: flex;
  justify-content: flex-start;
    border: 3px solid #f1f1f1;

}
      .booking-details {float: left;position: relative;width:350px;height: 450px;margin:100px; border:3px solid #f1f1f1; } 
      .booking-details p{line-height:26px; font-size:20px; color:#999;margin:20px;} 
      .booking-details pre{ margin: 20px;margin-top: 30px; font-size: 20px; }
      .booking-details p span{color:#666} 

 #selected-seats li{float:left; width:92px; height:30px; line-height:26px; border:1px solid #d3d3d3; background:#f7f7f7; margin:6px; font-size:14px; font-weight:bold; text-align:center;list-style-type: none;}
      #selected-seats {max-height: 150px;overflow-y: auto;overflow-x: none;width: 200px;}

*{
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  border: 3px solid #f1f1f1;
  margin:100px 20px 20px;
  width: 400px;
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

small{
  width: 100%;
  padding: 12px 20px;
  display: none;
}

.fa-asterisk{
  color: #ff0000;
  font-size: 8px;
  vertical-align: top;
}


button {
  background-color: #001b66;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
.container a{
  text-decoration: none;
  color:#4040a1;
}