.success_msg{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #f2f2f2;
    background-color: #fff;
    padding: 5px 19px;
    margin: 25px 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: flex-column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.button1 {
  background-color:#001b66;
  color: white;
  width: 15%; 
  padding: 10px;
  margin-left:50px;
}